<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645779248201-tqh7apnkvv2htg283e2uamfpp88fkueu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645779248201-tqh7apnkvv2htg283e2uamfpp88fkueu</string>
	<key>API_KEY</key>
	<string>AIzaSyDtD80Tyz3kNvQiYny7G1IaK3ydXBymp8o</string>
	<key>GCM_SENDER_ID</key>
	<string>645779248201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gardenCompanion2</string>
	<key>PROJECT_ID</key>
	<string>gardencompanion2</string>
	<key>STORAGE_BUCKET</key>
	<string>gardencompanion2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645779248201:ios:983d654b5a477f9ccedb98</string>
</dict>
</plist>