<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402219795191-g5iblli1s2ab0ortqhoep879426l128a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402219795191-g5iblli1s2ab0ortqhoep879426l128a</string>
	<key>API_KEY</key>
	<string>AIzaSyAFCJxpzPknc_7TQinUoq9ioBEACn_X94M</string>
	<key>GCM_SENDER_ID</key>
	<string>402219795191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gardenCompanion.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>garden-companion-1d9eb</string>
	<key>STORAGE_BUCKET</key>
	<string>garden-companion-1d9eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402219795191:ios:103b8a922f0817e8dfc9f2</string>
</dict>
</plist>